@import "~materialize-css/dist/css/materialize.min.css";

.btn-sing-in {
    margin-right: 10px;
}

.input-field--auth {
    border-bottom: 1px solid #fff!important;
}

.navbar{
    padding: 0 2rem;
    /* display: flex;
    align-items: center; */
}

.input-field--add_todo {
   width: 90%!important;
}

.list-todo {
    width: 90%;
    list-style: 'none';
    margin: 0;
    padding: 0;
}

.complited {
    background-color: green;
}

.complited--text{
    text-decoration: line-through!important;
}

.span--text {
    color: #263238;
}